<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>


<%= render "shared/site/header"%>

<!-- Hero section -->
<section class="hero-section set-bg" data-setbg="<%= image_url("bg.jpg") %>">
    <div class="container hero-text text-white">
        <h2>find your place with our local life style</h2>
        <p>Search real estate property records, houses, condos, land and more on leramiz.com®.<br>Find property info from the most comprehensive source data.</p>
        <a href="#" class="site-btn">VIEW DETAIL</a>
    </div>
</section>
<!-- Hero section end -->


<!-- Filter form section -->
<div class="filter-search">
    <div class="container">
        <form class="filter-form">
            <input type="text" placeholder="Enter a street name, address number or keyword">
            <select>
                <option value="City">City</option>
            </select>
            <select>
                <option value="City">State</option>
            </select>
            <button class="site-btn fs-submit">SEARCH</button>
        </form>
    </div>
</div>
<!-- Filter form section end -->



<!-- Properties section -->
<section class="properties-section spad">
    <div class="container">
        <div class="section-title text-center">
            <h3>RECENT PROPERTIES</h3>
            <p>Discover how much the latest properties have been sold for</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="propertie-item set-bg" data-setbg="<%= image_url("propertie/1.jpg") %>">
                    <div class="sale-notic">FOR SALE</div>
                    <div class="propertie-info text-white">
                        <div class="info-warp">
                            <h5>176 Kingsberry, Dr Anderson</h5>
                            <p><i class="fa fa-map-marker"></i> Rochester, NY 14626</p>
                        </div>
                        <div class="price">$1,777,000</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="propertie-item set-bg" data-setbg="<%= image_url("propertie/2.jpg") %>">
                    <div class="rent-notic">FOR Rent</div>
                    <div class="propertie-info text-white">
                        <div class="info-warp">
                            <h5>45 Lianne Dr, Greece Street</h5>
                            <p><i class="fa fa-map-marker"></i> Tasley, VA 23441</p>
                        </div>
                        <div class="price">$1255/month</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="propertie-item set-bg" data-setbg="<%= image_url("propertie/3.jpg") %>">
                    <div class="sale-notic">FOR SALE</div>
                    <div class="propertie-info text-white">
                        <div class="info-warp">
                            <h5>6101 Aqua Ave Apt 603</h5>
                            <p><i class="fa fa-map-marker"></i> Miami Beach, FL 33141</p>
                        </div>
                        <div class="price">$150,000</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="propertie-item set-bg" data-setbg="<%= image_url("propertie/3.jpg") %>">
                    <div class="rent-notic">FOR Rent</div>
                    <div class="propertie-info text-white">
                        <div class="info-warp">
                            <h5>339 N Oakhurst Dr Apt 303</h5>
                            <p><i class="fa fa-map-marker"></i> Beverly Hills, CA 90210</p>
                        </div>
                        <div class="price">$3000/month</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Properties section end -->


<!-- Services section -->
<section class="services-section spad set-bg" data-setbg="<%= image_url("service-bg.jpg") %>">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <%= image_tag "service.jpg" %>
            </div>
            <div class="col-lg-5 offset-lg-1 pl-lg-0">
                <div class="section-title text-white">
                    <h3>OUR SERVICES</h3>
                    <p>We provide the perfect service for </p>
                </div>
                <div class="services">
                    <div class="service-item">
                        <i class="fa fa-comments"></i>
                        <div class="service-text">
                            <h5>Consultant Service</h5>
                            <p>In Aenean purus, pretium sito amet sapien denim consectet sed urna placerat sodales magna leo.</p>
                        </div>
                    </div>
                    <div class="service-item">
                        <i class="fa fa-home"></i>
                        <div class="service-text">
                            <h5>Properties Management</h5>
                            <p>In Aenean purus, pretium sito amet sapien denim consectet sed urna placerat sodales magna leo.</p>
                        </div>
                    </div>
                    <div class="service-item">
                        <i class="fa fa-briefcase"></i>
                        <div class="service-text">
                            <h5>Renting and Selling</h5>
                            <p>In Aenean purus, pretium sito amet sapien denim consectet sed urna placerat sodales magna leo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services section end -->

<%= render partial: 'shared/site/listing', colletion: @houses %>

<!-- feature category section -->
<section class="feature-category-section spad">
    <div class="container">
        <div class="section-title text-center">
            <h3>LOOKING PROPERTY</h3>
            <p>What kind of property are you looking for? We will help you</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 f-cata">
                <%= image_tag "feature-cate/1.jpg" %>
                <h5>Apartment for rent</h5>
            </div>
            <div class="col-lg-3 col-md-6 f-cata">
                <%= image_tag "feature-cate/2.jpg" %>
                <h5>Family Home</h5>
            </div>
            <div class="col-lg-3 col-md-6 f-cata">
                <%= image_tag "feature-cate/3.jpg" %>
                <h5>Resort Villas</h5>
            </div>
            <div class="col-lg-3 col-md-6 f-cata">
                <%= image_tag "feature-cate/4.jpg" %>
                <h5>Office Building</h5>
            </div>
        </div>
    </div>
</section>
<!-- feature category section end-->

<%= render 'shared/site/gallery' %>
<!-- Clients section -->
<div class="clients-section">
    <div class="container">
        <div class="clients-slider owl-carousel">
            <a href="#">
                <%= image_tag "partner/1.png" %>
            </a>
            <a href="#">
                <%= image_tag "partner/2.png" %>
            </a>
            <a href="#">
                <%= image_tag "partner/3.png" %>
            </a>
            <a href="#">
                <%= image_tag "partner/4.png" %>
            </a>
            <a href="#">
                <%= image_tag "partner/5.png" %>
            </a>
        </div>
    </div>
</div>
<!-- Clients section end -->

<%= render "shared/site/footer" %>
